body{
    text-align: center;
}

#Name{
    font-size: 2em;
    font-family:'Trebuchet MS'; 
}

#Lname{
    padding-right: 10px;
    font-size:2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}